*{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Open Sans', sans-serif;
}
body{
background-color: rgba(51, 204, 204, 1);
width: 100%;
height: 100%;
}
.header {
      display: flex;
      justify-content: space-between;
      margin:20px auto auto auto;
      width: 90%;
}
.logo {

}
.bar {
      text-align:end ;
      margin-top: 10px;
      margin-bottom: 10px;
}
.bar>li{
      display: inline;
      font-size: 21px;
      margin: 0px 15px 0px 15px;
}
.bar>li>a{
      color: white;
      text-decoration: none;
      text-align: center;
      transition: 0.6s;
}
.bar>li>a:hover{
      color: rgba(0, 0, 0, 0.46);
      transition: 0.2s;
}
.signup{
      background-color: white;
      border-radius: 8px;
      padding: 10px;
      transition: 0.2s;
}
.signup:hover{
      border-radius: 20px;
      transition: 0.3s;
      padding: 15px 10px 15px 10px;

}
#signup{
      color: tomato;
      padding: 10px;
      transition: 0.2s;
}
#signup:hover{
      color:  black;
      transition: 0.2s;
}

.main {
      
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin:20px auto auto auto;
      align-items: center;
      height: 500px
}
.box {

width: 50%;
}
.box_1{
      margin: 0;
}
.box_2{
}

.box_1>h1{
      color: white;
      margin: 20px 0px 20px 0px;
}
.box_1>p{
      color: white;
      margin: 20px 0px 20px 0px;
      font-size: 15px;
}
.number_link>p{
      color: white;
      margin: 0px 0px 15px 0px;
      font-size: 15px;
}
.number_link {
      margin: 60px 0px 0px 0px;
      display: flex;
      flex-direction: column;
      
}     
.number {
      background-color: white;
      display: inline-block;
      padding: 15px;
      margin: 0px 0px 7px 0px;
      border-radius: 6px;
      text-align: center;
      width: 40%;
      
}
.number>a{
      text-decoration: none;
      text-align: center;
      color: rgba(0, 0, 0, 0.46);
}
.link>a{
      text-decoration: none;
      text-align: center;
      color: white;
}
.link {
      background-color: rgba(74, 74, 74, 1);
      display: inline-block;
      padding: 15px;
      margin: 5px 0px 7px 0px;
      border-radius: 6px;
      text-align: center;
      width:40% ;
}
.fhone_1 {
      position: absolute;
      width: 200px;
      height: 430px;
      background-color: black;
      top: 130px;
      border-radius: 25px;
      right: 320px;
      
}     
.fhone_2 {
      position: absolute;
      width: 182px;
      height: 412px;
      background-color: white;
      top: 139px;
      border-radius: 20px;
      right: 329px;
}
.fhone_3 {
      position: absolute;
      width: 90px;
      height: 36px;
      background-color: black;
      top: 118.75px;                                  
      border-radius: 15px;
      right: 375px;
      /* 107.5 */
}
.fhone_4{
      position: absolute;
      width: 90px;
      height: 22.5px;
      background-color:  rgba(51, 204, 204, 1);
      top: 107.5px;                                  
      right: 375px;
}
.fhone-bock_1 {
      position: absolute;
      width: 200px;
      height: 124px;
      background-color: rgba(74, 144, 226, 1);
      top: 160px;
      border-radius: 10px;
      right: 167px;
      transition: 0.5s;
}
.fhone-bock_2 {

      position: absolute;
      width: 200px;
      height: 124px;
      background-color: rgba(242, 137, 100, 1);
      top: 210px;
      border-radius: 10px;
      right: 440px;
      transition: 0.5s;
}
.fhone-bock_3 {

      position: absolute;
      width: 200px;
      height: 124px;
      background-color: rgba(201, 100, 242, 1);
      top: 310px;
      border-radius: 10px;
      right: 220px;
      transition: 0.5s;
}
.fhone-img{
      width: 80px;
      height: 80px;
      margin-left: 60px;
      padding: 10px;
}
.fhone_text{
      color: white;
      text-align: center;
      padding-bottom: 10px;
}
.footer{
      top: auto;
      bottom: 20px;
      left: 5%;
      position: absolute;
}
.footer-img {
      display: flex;
      justify-content: space-between;
      width: 40%;
      margin: auto;
      margin-bottom: 20px;
}
.footer-desckription {
      color: white;
      font-size: 10px;
}


.fhone-bock_1:hover{
      transform: scale(1.3);
      transition: 0.4s;
      z-index: 3;
      box-shadow:10px 10px 10px black;
}
.fhone-bock_2:hover{
      transform: scale(1.3);
      transition: 0.4s;
      z-index: 3;
      box-shadow:10px 10px 10px black;
}
.fhone-bock_3:hover{
      transform: scale(1.3);
      transition: 0.4s;
      z-index: 3;
      box-shadow:10px 10px 10px black;
}